body { margin:0; padding:0; }
#map {
	/*position:absolute; */
	/*top:0; 
	bottom:0; 
	width:100%; */
	height:1000px;
}

.smallfont {
	font-size:0.8em;
}
#legend {
	padding-top: 15px;
}

.nav>li>a {
    padding: 5px 15px;
}

.legend {
	background-color: rgba(255,255,255,0.9);
	/*border-radius: 3px;*/
	top: 10px;
	box-shadow: 0 1px 2px rgba(0,0,0,0.10);
	font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
	padding: 10px;
	position: absolute;
	left: 50px;
	z-index: 1;
	width: 30%;
	min-width: 300px;
	height: 500px;
}

.legend h4 {
	margin: 0 0 10px;
}

.legend div span {
	border-radius: 50%;
	display: inline-block;
	height: 10px;
	margin-right: 5px;
	width: 10px;
}
.legend-title {
	font-size:2.5em;
	padding: 10px 0;
}

.legend-toggle {
	font-size:2.5em;
	padding: 10px 0;
	float: left;
	background-color: blue;
}

.waffle-container {
	display: inline-block;
	width: 100px;
}

.waffle-column {
	/*width: 15px;*/
	float: left;
}

.waffle-border {
	border:1px solid transparent;
	float: left;
}

.waffle-box {
	width:8px;
	height:8px;
	background: rgba(49,79,79,0.8);
}
.waffle-box-empty {
	width:8px;
	height:8px;
	background: rgba(49,79,79,0.2);
}

td {
	vertical-align: middle;
}

.vis-item.vis-dot 
{
	border-radius: 3px;
	border-width: 3px;
}

.vis-item.vis-dot.red {
	border-color: red;
}
.vis-item.vis-dot.orange {
	border-color: orange;
}
.vis-item.vis-dot.blue {
	border-color: blue;
}
.vis-item.vis-dot.green {
	border-color: green;
}

.duration-bar
{
	height:7px;
	margin: 2px;
	/*border:1px solid transparent;*/
}
.duration-container {
	clear:both;
}
.duration-border {
	border:1px solid transparent;
	/*float: left;*/
}

.duration-display {
	font-size:0.6em;float:left;
}
.duration-box {
	width:8px;
	height:8px;
	background: rgba(49,79,79,0.8);
}

.menu-content
{
	height: 400px;
    overflow: auto;
    padding: 10px;
}

.leaflet-container {
    background: #fff; 
}

#map-buttons {
	position:absolute;
	top:10px;
	right:73px;
	z-index:99;
}

#button-hover {
	display:none;
}

#display-bookmarks-container {
	background-color:whitesmoke;
	height:55px;
	width:100%;
	overflow: hidden;
	white-space: nowrap;
}

#display-bookmarks {
	padding:5px;
	margin:5px 0;
	height:100%;
	width:100%;
	overflow: auto;
}

#display-geography-title {
	padding:5px;
	margin:5px 0;
}

/*
	modify bootstrap
*/

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    color: #fff;
    background-color: #2c2c2c;
}

a {
    color: #777;
    text-decoration: none;
}

.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}


.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 0px;
}